<h2>Latest posts</h2>
<p>
    <br />
    <% @posts.each do |post|%>
        <%= post['content']%>
            <br /><br />
        <i>Added at: <%= post['created_date']%></i> • 
            <!-- <br /><br /> -->
        <i>Author is: <%= post['author_name']%></i> • 
            <!-- <br /><br /> -->
        <a href='/details/<%= post['id'] %>'>Comments</a>
            <hr />
    <% end %>
</p>

